{% extends 'base.html' %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static "blog/About.css" %}">
{% endblock css_files %}
{% block content %}
<h1><p>My programming Skills are:</p></h1>
<ul>
<h2>
    <li>Python programming</li>
    <li>Django framework</li>
    <li>HTML and Css</li>
    <li>Aplication andwebsite testing</li>
    <li>Protractor</li>
    <li>Basic JAVA knowledge</li>
    <li>Basic matlab knowledge</li>
    <li>Basic R knowledge</li>
    <li>Basic Stata knowledge</li>
</h2>
    
</ul>
{% endblock  %}
